/* show-all.css */

body {
    font-family: sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.show-all-page {
    padding-top: 80px;
    padding: 20px;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.show-all-page h1 {
    margin-bottom: 20px;
    text-align: center;
}

.media-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    margin-bottom: 70px;
}

.media-card {
    background-color: #222;
    border-radius: 8px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.media-card:hover {
    transform: translateY(-5px);
}

.media-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
}

.media-card-info {
    padding: 10px;
    text-align: center;
}

.media-card-info h3 {
    margin-top: 0;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media-card-info p {
    font-size: 0.7em;
    color: #ccc;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .media-grid-container {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
}
